@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primary: #4aa5d8;
    --color-secondary: #e8592c;
    --color-white: #f4f5f2;
}

body {
    font-size: 100%;
    background: linear-gradient(to right, #0F141E 40%, #233154);
    padding: 0 100px;
}

header {
    border-color: #9999;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-img {
    height: 30px;
}

.cabecalho-menu {
    display: flex;
    gap: 70px;
}

.cabecalho-menu-item {
    font-weight: 400;
    text-decoration: none;
    color: #f4f5f2;
    position: relative;
}

.cabecalho-menu-item::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #417AB5, #F8A77E);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.cabecalho-menu-item:hover::after{
    width: 30px;
}

.conteudo-titulo {
    margin-top: 20px;
}

.conteudo-titulo h1 {
    font-size: 80px;
    color: white;
    font-family: Bebas Neue Regular;
}

.conteudo-titulo p {
    color: white;
    font-family: Open Sans;
    font-size: 15px;
}

.conteudo {
    border-color: #9999;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.conteudo-texto {
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 10px;
}


.conteudo-texto b {
    color: white;
    font-family: Bebas Neue Regular;
    font-size: 50px;
}

.conteudo2-rd {
    margin-top: 70px;
}

#instagram {
    width: 70px;
    display: flex;
}

#rodapé-rd {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

#detalhe-rd {
    width: 20%;
    float: right;
}