@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primary: #4aa5d8;
    --color-secondary: #e8592c;
    --color-white: #f4f5f2;
}

body {
    font-size: 100%;
    background: linear-gradient(to right, #0F141E 40%, #233154);
    padding: 0 100px;
}

header, .conteudo, footer {
    border-color: #9999;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-img {
    height: 30px;
}

.cabecalho-menu {
    display: flex;
    gap: 70px;
}

.cabecalho-menu-item {
    font-weight: 300;
    text-decoration: none;
    color: #f4f5f2;
    position: relative;
}

.cabecalho-menu-item::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #417AB5, #F8A77E);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.cabecalho-menu-item:hover::after{
    width: 30px;

}

.titulo {
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 64px;
}

.titulo h2 {
    font-size: 20px;
}

#perguntas {
    color: #e8592c;
}

#frequentemente {
    color: #4aa5d8;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
}

.accordion-item {
    border: 1px solid #ccc;
    margin: 5px;
    overflow: hidden;
}

.accordion-item-title {
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
}

.accordion-item-content {
    overflow: hidden;
    display: none;
    padding: 10px;
    color: white;
    transition: max-height 0.3s ease-in-out;
}

.accordion-title-color {
    color: #4aa5d8;
}

.accordion-title-color2 {
    color: #e8592c;
}

.imagem {
    display: flex;
    max-width: 470px;
    max-height: 467px;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

:root {
    --color-neutral-0: #dbdbd9;
    --color-neutral-10: #f4f5f2;
    --color-neutral-30: #0F141E;
    --color-neutral-40: #233154;
}

footer {
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-0);



}

rodape-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    gap: 2rems;
}

.rodape-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 72rem;
    justify-content: space-around;
}

.rodape-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rodape-descricao {
    text-align: center;
    max-width: 20rem;
    margin-top: 10px;
    font-size: 14px;
}

.rodape-info1 img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    flex: 3;
}

.rodape-info2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    line-height: 40px;
}

.rodape-redessociais {
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-left: 100px;
    line-height: 40px;
}

.rodape-redessociais .rodape-link {
    color: var(--color-neutral-0);
}

.rodape-nav {
    flex: 1;
    flex-direction: column;
    display: flex;
    line-height: 40px;
}

.rodape-nav .rodape-link {
    color: var(--color-neutral-0);
    transition: all 0.4s;
    text-decoration: none;
}

.rodape-nav .rodape-link:hover {
    color: #e8592c;
}

.rodape-redessociais .rodape-link:hover {
    color: #e8592c;
    transition: all 0.4s;
}





.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-center {
    text-align: center;
}